.logo{background-image:url(../imagens/azul/logo.png);}
.camada1{background-image:url(../imagens/azul/fundo_faixa_header.png);}
.skin{background-image:url(../imagens/azul/topo_skin.png);}
aside{background-image:url(../imagens/azul/fundo_aside.png);}
.baseaside{background-image:url(../imagens/azul/base_aside.png);}
nav ul ul{background-image:url(../imagens/azul/fundo_submenu.png);}
nav ul li ul li:hover{background-image:url(../imagens/azul/fundo_submenu.png);