.logo{background-image:url(../imagens/roxo/logo.png);}
.camada1{background-image:url(../imagens/roxo/fundo_faixa_header.png);}
.skin{background-image:url(../imagens/roxo/topo_skin.png);}
aside{background-image:url(../imagens/roxo/fundo_aside.png);}
.baseaside{background-image:url(../imagens/roxo/base_aside.png);}
nav ul ul{background-image:url(../imagens//roxo/fundo_submenu.png);}
nav ul li ul li:hover{background-image:url(../imagens/roxo/fundo_submenu.png);